.grid-container {
	display: grid;
	margin-inline: auto;
	gap: var(--full-rem);
	justify-content: stretch;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
	border: 1px solid #000000;
	border-radius: var(--half-rem);
	padding: var(--half-rem);
	text-align: center;
}