.grid-container {
	display: grid;
	margin-inline: auto;
	gap: var(--full-rem);
	justify-content: stretch;
	align-items: center;
	grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
}

.card {
	border: 1px solid #000000;
	border-radius: var(--half-rem);
	padding: var(--half-rem);
	text-align: center;
	cursor: pointer;
}

.card-body {
	font-weight: 500;
	font-size: var(--full-rem);
}

.card-containers {
	border-color: var(--color-containers-dark);
	background-color: var(--color-containers-background);
}
.card-containers .card-icon {
	font-size: calc(var(--full-rem) * 2);
	color: var(--color-containers-dark);
}
.card-containers:hover {
	background-color: var(--color-containers-hover);
}
.card-containers:hover .card-icon {
	color: var(--color-content-hover);
}

.card-search {
	border-color: var(--color-search-dark);
	background-color: var(--color-search-background);
}
.card-search .card-icon {
	font-size: calc(var(--full-rem) * 2);
	color: var(--color-search-dark);
}
.card-search:hover {
	background-color: var(--color-search-hover);
}
.card-search:hover .card-icon {
	color: var(--color-content-hover);
}

.card-reports {
	border-color: var(--color-reports-dark);
	background-color: var(--color-reports-background);
}
.card-reports .card-icon {
	font-size: calc(var(--full-rem) * 2);
	color: var(--color-reports-dark);
}
.card-reports:hover {
	background-color: var(--color-reports-hover);
}
.card-reports:hover .card-icon {
	color: var(--color-content-hover);
}

.card-dashboard {
	border-color: var(--color-dashboard-dark);
	background-color: var(--color-dashboard-background);
}
.card-dashboard .card-icon {
	font-size: calc(var(--full-rem) * 2);
	color: var(--color-dashboard-dark);
}
.card-dashboard:hover {
	background-color: var(--color-dashboard-hover);
}
.card-dashboard:hover .card-icon {
	color: var(--color-content-hover);
}

@media (width < 600px) {
	.grid-container {
		display: grid;
		margin-inline: auto;
		gap: var(--full-rem);
		justify-content: stretch;
		align-items: center;
		grid-template-columns: 1fr;
	}
}