.grid-container-labels {
	grid-template-columns: repeat(6, 1fr);
}

.card-labels-label {
	grid-column: 2/6;
	cursor: default;
}

input[type="text"] {
	text-align: center;
	border: none;
	outline: none;
	font-weight: 500;
}

@media (width < 600px) {
	.card-labels {
		grid-column: 1/-1;
	}
}